
body {
    background-image:url('http://imagenes.4ever.eu/data/download/abstractos/fondo-azul-195621.jpg');
    background-size:auto;  
    background-repeat:no-repeat; 
}
.titulo { 
      background-color: #e3f5ff ;
      border-top: 3px solid   ;
     padding: 10px;
     
     text-align:right;
     color:#2896ff;
}
  #indice {
    height:280;
    min-width:120px;
    width:20%;
    text-align: left;
    padding:25px; 

 }  
.contenedor{
    width: 100%;
     
    color: black;
    padding: -40px 30px 10px;
    height: 100%;
}
#pestanas {
    font-size: 30px;
    font-weight: 100%;


}
#pestanas #pestana1:hover {
     transform: rotate(-2deg); 
  }
#pestanas #pestana2:hover {
     transform: rotate(2deg); 
  }
#pestanas #pestana3:hover {
     transform: rotate(-2deg); 
  }

#pestanas #pestana4:hover {
     transform: rotate(2deg); 
  }
#pestanas #pestana5:hover {
     transform: rotate(-2deg); 
  }
#pestanas ul{
    margin-left: -40px;    
}

#pestanas li{
   
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background-color: #e3f5ff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid #e3f5ff;
    border-bottom: dimgray;
    padding: 0px 68.5px 0px 20px;
}

#pestanas a:link{
    color: black;
    text-align: center;
}
#cpestana4 section{
  text-align:right;
}
#contenidopestanas{
    clear: both;    
    height: content;
    width: 1269px;
}

#contacto {
    color: black;h
    margin-left: 80px;
    height: content;
    margin-top: 00px;
}
#contenidopestanas #cpestana1{
  padding: 55px 20px 90px 20px;
  text-align: center; 

}

#contenidopestanas #cpestana2{
  padding: 55px 20px 90px 20px;
  text-align: center;
}

#contenidopestanas #cpestana3{
  padding: 55px 20px 90px 20px;
}
#contenidopestanas #cpestana4{
   background-image: url("http://camp.ucss.edu.pe/wp-content/uploads/2012/12/ingesmall.jpg"); 
   padding: 20px 30px 20px 10px;
  background-size:cover;
 background-repeat: no-repeat;
}
#contenidopestanas #cpestana5  {
   background-image: url("https://moeausb.files.wordpress.com/2012/03/726805432s13sd21.jpg"); 
  padding: 30px 20px 20px 80px;
 background-size:cover;
 background-repeat: no-repeat;  
}
#redesSocieles{
  padding: 0px 0px 0px 850px;
}

#pestanas #pestana1, #cpestana1{
  background: #e3f5ff ;
}

#pestanas #pestana2, #cpestana2{
  background: #e3f5ff;

}

#pestanas #pestana3, #cpestana3{
  background: #e3f5ff;
}

#pestanas #pestana4, #cpestana4{
  background: #e3f5ff;
  
}

#pestanas #pestana5, #cpestana5{
  background: #e3f5ff;
}


@media screen and (max-width: 966px) {

.contenedor nav {

width:calc(100% - 10px);

height:auto;

}
#pestanas{
  width:calc(100% - 10px);

height:auto;
}
body{
  width:calc(100% - 10px);

height:auto;
}
